# Ignore Gradle build output directory
build
target

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
tokens.properties
local.properties
.settings/
.loadpath
.recommenders
.idea
src/main/java/com/lycoon/clashapi/core/Main.java
